	body{
		margin: 0;
		padding: 0;
		background-color: #7e1818;
		background-repeat: repeat;
	}

	.corpo{
		width: 1024px;
		margin: 0 auto;
		font-family: Arial;
		font-size: 12px;
		color: #c20001;
	}

	.topo{
		width: 1024px;		
	}

	.topo img{
		height: 200px;
		padding: 10px 0px 10px 0px;	
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
/*
	.conteudo{
		width: 1024px;
		height:500px;
		border: 8px solid #e6e5e5;
		margin-top: 40px;
		margin-bottom: 10px;
		background-color: #FFFFFF;		
	}
*/	
	.conteudo {
	    width: 1024px;
	    height: 700px;
	    margin-top: 60px;
	    margin-bottom: 10px;
	    background-color: #FFFFFF;
	    padding: 10px;
	}

	#contato {
	    width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	    box-shadow: 2px 2px 10px 2px;
	    
	}

	#contato input, textarea {
		margin: 5px;
		background-color: #cecece;
	}

	#contato input#btn {

	    margin-left: 39px;
	    height: 30px;
	    width: 133px;
	}

	.tabform{
		margin-top:20px;
		border-radius: 10px;
		background-color: #e6e5e5;
	}

	.tabform td{
		padding: 5px;
	}

	.form{
		
	}
	.textarea{
		width: 375px; 
		height: 150px; 
		resize: none;
	}
	.rodape{
		background-color: #FFFFFF;
		width: 1024px;
		height: 100px;
	}
	
	/* ----------- INICIO TEXTOS RODAPÉ ----------- */
	
	.rodape p{
		font-family: Arial;
		font-size: 12px;
		float: left;
		text-align: center;
		color: #c20001;
		padding-top: 5px;
	}

	.formapag{
		margin-left:30px;
		width: 300px;
	}
	
	.redesocial{
		margin-left:30px;
		width: 300px;
	}
	.horario{
		margin-left:30px;
		width: 300px;
	}
	
	/* ----------- FIM TEXTOS RODAPE ----------- */
	
	
	
	