	.conteudo{
		font-family: Arial;
		font-size: 12px;
		color: #FFFFFF;
		width: 1024px;
		margin-top: 40px;
		margin-bottom: 10px;
		background-color: #7e1818;
		text-transform:uppercase;		
	}
	.titulo{
		color: #FFFFFF;
		text-decoration: none;
		text-transform:uppercase;
	}
	.conteudo a{
		color: #FFFFFF;
		text-decoration: none;
		text-transform:uppercase;
	}
	.conteudo a:hover{
		color: #FFFFFF;
		text-decoration: none;
		text-transform:uppercase;
	}