
	.corpo{
		width: 1024px;
		margin: 0 auto;
	} 

	.topo{
		width: 1024px;		
	}
	.topo img{
		height: 200px;
		padding: 10px 0px 10px 0px;	
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.menu{
		background-color: #FFFFFF;
		height: 40px;
		width: 1024px;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
	}
	.conteudo{
		width: 1024px;
		height:500px;
		margin: 40px auto 10px auto;
		border: ridge;		
	}
	.rodape{
		background-color: #FFFFFF;
		width: 1024px;
		height: 100px;
	}
	/* ----------- INICIO ESTILO DO MENU ----------- */	
	.ulmenu{
		position: absolute;
		margin-left: 100px;
		margin-top: 0px;
		height: 30px;
	}
	.limenu{
		display: inline;
	}
	
	/* ----------- ESTILO DOS LINKS DO MENU ----------- */
	
	.limenu a{
		text-decoration: none;
		color: #c20001;
		font-family: Arial;
		font-size: 14px;
		background-color: #FFFFFF;
		font-weight: bold;
		float: left;
		display: block;
		padding: 13px 20px;
		height: 14px;
		text-align: center;
	}
	.limenu a:hover{
		background-color: #c20001;
		color: #FFFFFF;
		height: 14px;
	}
	/* ----------- FIM DO ESTILO MENU ----------- */	
	
	
	/* ----------- INICIO TEXTOS RODAPÉ ----------- */
	
	.rodape p{
		font-family: Arial;
		font-size: 12px;
		float: left;
		text-align: center;
		color: #c20001;
		padding-top: 5px;
	}
	.formapag{
		margin-left:30px;
		width: 300px;
	}
	.redesocial{
		margin-left:30px;
		width: 300px;
	}
	.horario{
		margin-left:30px;
		width: 300px;
	}
	
	/* ----------- FIM TEXTOS RODAPE ----------- */
	
	
	
	