	.menu{
		background-color: #FFFFFF;
		height: 40px;
		width: 1024px;
		position: absolute;
	}
	/* ----------- INICIO ESTILO DO MENU ----------- */	
	.ulmenu{
		position: absolute;
		margin-left: 100px;
		margin-top: 0px;
		height: 40px;
	}
	.limenu{
		display: inline;
		margin: 5px;
		padding: 2px;
	}
	/* ----------- ESTILO DOS LINKS DO MENU ----------- */
	.limenu a{
		text-decoration: none;
		color: #c20001;
		font-family: Arial;
		font-size: 14px;
		font-weight: bold;
		float: left;
		display: block;
		padding: 13px 20px;
		height: 14px;
		text-align: center;
	}
	.limenu a:hover{
		box-shadow:
                1px 1px black,
                2px 2px black,
                3px 3px black;
        -webkit-transform: translateX(0px);
        border-radius: 50%;
        transform: translateX(-3px);
		background-color: #c20001;
		color: #FFFFFF;
	}
	/* ----------- FIM DO ESTILO MENU ----------- */