﻿	body{
		margin: 0;
		padding: 0;
		background-color: #7e1818;
		background-repeat: repeat;
	}	
	.corpo{
		width: 1024px;
		margin: 0 auto;
	}
	.topo{
		width: 1024px;		
	}
	.topo img{
		height: 200px;
		padding: 10px 0px 10px 0px;	
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.conteudo{
		font-family: Arial;
		font-size: 14px;
		width: 1024px;
		height:450px;
		margin-top: 40px;
		margin-bottom: 10px;
		background-color: #FFFFFF;
		color: #c20001;		
	}