	body{
		margin: 0;
		padding: 0;
		background-color: #7e1818;
		background-repeat: repeat;
	}	
	.corpo{
		width: 1024px;
		height: 600px;
		margin: 0 auto;
		font-family: Arial;
		font-size: 12px;
		color: #FFFFFF;
	}
	.topo{
		width: 1024px;		
	}
	.topo img{
		height: 200px;
		padding: 10px 0px 10px 0px;	
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.menu{
		background-color: #FFFFFF;
		height: 40px;
		width: 1024px;
		position: absolute;		
	}
	.conteudo{
		width: 1024px;
		
		margin-top: 40px;
		margin-bottom: 10px;
		background-color: #FFFFFF;	
		padding-top: 7px;	
	}

	.title-cat {
		font-size: 10pt;
		margin: 5px;
		border-right: 1px solid black;
		padding: 5PX;
	}

	.produtos-cat {
		width: 100%;
		display: table;
	}
	.wrap-cat {
		float:left;
		text-align: center;
	}

	.wrap-produtos {
		font-size: 10pt;
		margin: 7px;
		height: auto;
	}
	
	/* PARAGRAFOS DO CONTEUDO */

	.produtos{
		font-size: 14pt;
		margin-left: auto;
		margin-right: auto;
	}
	.produtos h3{
		color: white;
	}

	.produtos td{
		font-size: 12pt;
		margin-left: 10px auto 0 auto;

	}

	/* ----------- INICIO ESTILO DO MENU ----------- */	
	.ulmenu{
		position: absolute;
		margin-left: 100px;
		margin-top: 0px;
		height: 30px;
	}
	.limenu{
		display: inline;
	}
	
	/* ----------- ESTILO DOS LINKS DO MENU ----------- */
	
	.limenu a{
		text-decoration: none;
		color: #FFFFFF;
		font-family: Arial;
		font-size: 16px;
		background-color: #FFFFFF;
		font-weight: bold;
		float: left;
		display: block;
		padding: 13px 20px;
		height: 14px;
		text-align: center;
	}
	.limenu a:hover{
		background-color: #FFFFFF;
		color: #FFFFFF;
		height: 16px;
	}
	/* ----------- FIM DO ESTILO MENU ----------- */	
	