	.conteudo{
		font-family: Arial;
		font-size: 14px;
		width: 1024px;
		height:850px;
		margin-top: 40px;
		margin-bottom: 10px;
		background-color: #FFFFFF;
		color: #c20001;		
	}

	.quemsomos{
		width: 600px;
	}
	
	.icones td {
		padding: 60px;
	}