	.rodape{
		background-color: #FFFFFF;
		width: 1024px;
		height: 100px;
		margin: 10px auto;
		padding: 10px;
	}
	.rodape p{
		font-family: Arial;
		font-size: 12px;
		float: left;
		text-align: center;
		color: #c20001;
		padding-top: 5px;
	}
	.formapag{
		margin-left:30px;
		width: 300px;
	}
	.redesocial{
		margin-left:30px;
		width: 300px;
	}
	.horario{
		margin-left:30px;
		width: 300px;
	}