﻿.menu{
	height: 40px;
	width: 1024px;
	position: relative;
}
.tbmenu{				
	margin: 0 auto;
	padding: 0;
	background-color: white;
	width: 1024px;
	border-radius: 10px;
	border-collapse: collapse;				
}
.trmenu{
	height: 50px;
	text-align: center;				
}
.trmenu td{
	width: 100px;				
}
.trmenu td a{
	text-decoration: none;
	color: black;
}
.trmenu td a:hover{
	color: #e74c3c;
} 