			.totregistro{
				background-color: white;
				color: black;
				font-weight: lighter;
				font-size: 14px;
				height: 50px;
			}
			.totpagina{
				background-color: rgb(0,0,0,0.4);
				border-radius: 0px 0px 10px 10px;
				color: black;
				font-weight: lighter;
				font-size: 14px;
				height: 50px;
			}	
			.totpagina a{
				color: white;
			}		
			.totpagina a:hover{
				color: black;
			}